<p style="margin-left: 7%;margin-top: 2%;"> <%= link_to "Back", books_path %> <i class="icon-arrow-right"></i> <%= @book.name %></p>
<br>
<div class="container">
	<table class="table">
		<tbody>
			<tr class="success">
				<td><strong>BOOK NAME</strong></td>
				<td></td>
				<td><strong>AUTHOR</strong></td>
			</tr>
			<tr class="warning">
				<td><%= @book.name %></td>
				<td></td>
				<td><%= @book.author %></td>
			</tr>
			<tr class="success">
				<td><strong>YEAR PUBLISHED</strong></td>
				<td></td>
				<td><strong>CATEGORY</strong></td>
			</tr>
			<tr class="warning">
				<td><%= @book.year %></td>
				<td></td>
				<td><%= @book.category_name %></td>
			</tr>
		</tbody>
	</table>
</div>