<!--<%= form_for(@book) do |b| %>
<div class="field">
	<%= b.label :book %><br>
	<p>Name: </p><%= b.text_area :name %><br>
	<p>Author: </p><%= b.text_area :author %><br>
	<p>Year: </p><%= b.text_area :year %><br>
	<p>Category</p><%= b.text_area :category %>
</div>
<div class="actions">
	<%= b.submit "Add Book" %>
</div>
<% end %>-->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<div class="container">
	<div class="row">
		<%= form_for @book, :html => {:role => "form", :class => "contact-form", :id => "contact-form"} do |b| %>
            <div class="row">
                <div class="col-md-6">
                  <p>Add new book</p><br>
                	<div class="form-group">
                		<%= b.text_field :name, class: "form-control", autocomplete: "off", placeholder: "Book name" %>
                 	</div>
                </div>
                <div class="col-md-6">
                  	<div class="form-group">
                        <%= b.text_field :author, class: "form-control", autocomplete: "off", placeholder: "Author" %>
                  	</div>
                </div>
            </div>
            <div class="row">
                  	<div class="col-md-6">
                  		<div class="form-group">
                            <%= b.text_field :year, class: "form-control", autocomplete: "off", placeholder: "Year" %>
                  		</div>
                  	</div>
            </div>
            <div class="row">
              <% @category.each do |c| %>
                <div class="radiobutton">
                  <input type="radio" id="<%= c.name %>" name="book[category]" class="radio" value="<%= c.id %>">
                  <label for="<%= c.name %>"><%= c.name %></label>
                </div>
              <% end %>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <%= b.submit "Add book", class: "btn main-btn pull-right" %>
                </div>
            </div>
        <% end %>
	</div>
</div>